button.add-color.none {
  display: none;
}

.m-auto {
  margin: auto;
}

.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.none {
  display: none;
}

input[type='email']:disabled {
  background: #dddddd;
}

select:disabled {
  background: #dddddd;
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

label {
  margin: 1rem 0;
  font-weight: 900;
}

.active {
  background: lightblue;
}

.size {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5rem auto 0 auto;
  input {
    // width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
}

.active {
  background: lightblue;
}

.color-size {
  display: flex;

  justify-content: flex-start;
  flex-wrap: wrap;

  input,
  select {
    input {
      // width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
    }
  }

  .collections {

    display: flex;
    flex-direction: column-reverse;

    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .collections:hover {
    background: lightblue;
  }
}

.success-msg {
  text-align: center;
}
