@import '../../../assets/styles/mixins';

.firstPage_container {
  display: flex;
  background: #fff;
  width: 90%;
  margin: auto;
  padding: 3rem;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  .rens_preview {
    border: 1px solid #61615f;
    width: 45%;
    margin: auto;
    padding: 1rem;

    .preview_header {
      text-align: center;
    }
    .preview_para {
      text-align: center;
    }
    img {
      width: 90%;
      display: flex;
      margin: auto;
    }
    .funds {
      display: flex;
      justify-content: space-around;
      .funds_list {
        display: flex;
        flex-direction: column;

        li {
          list-style: none;
        }
      }
    }
  }
  .next-button {
    width: 15rem;
  }
  label {
    font-size: 11px;
    font-weight: 600;
    color: #999;
    margin: 0;
  }

  .hello_user {
    width: 45%;
    margin: auto;

    .country {
      width: 15rem;
    }
  }
}

@include for-phone {
  .firstPage_container {
    flex-direction: column;
    width: 100%;
    .lead {
      font-size: 1rem;
    }
    .rens_preview {
      width: 100%;
      .preview_header {
        font-size: 1rem;
      }
      .preview_para {
        font-size: 0.6rem;
      }

      .funds {
        display: flex;
        justify-content: space-around;
        font-size: 0.5rem;
      }
    }

    .hello_user {
      width: 100%;
      text-align: left;
      margin-top: 4rem;
    }
  }
}
// @media only screen and (min-width: 750px) and (max-width: 1116px) {
//   .firstPage_container {
//     flex-direction: column;
//   }
// }
