@import '../../../../assets/styles/mixins';

.age-container {
  height: 100vh;
  display: flex;
  .age {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: 60px;
    margin: auto;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);

    @include for-phone {
      width: 100%;
      padding: 20px;
    }

    label {
      margin-left: 1rem;
    }

    .question {
      padding: 0.8rem;
    }
  }
}

.age-buttons {
  width: 100%;
  justify-content: space-evenly;
  display: flex;

  @include for-phone {
    flex-direction: column;
  }
  .next {
    width: 15rem;
    @include for-phone {
      width: 80%;
      margin: 0.5rem auto 0.5rem auto;
    }
  }
  .back {
    width: 15rem;
    @include for-phone {
      width: 80%;
      margin: 0.5rem auto 0.5rem auto;
    }
  }
}
