@import '../../../assets/styles/mixins';
.address {
  width: 70%;
  margin: auto;
  .required label {
    font-weight: bold;
  }
  .required label:after {
    color: #e32;
    content: ' *';
    display: inline;
  }
  .city-state {
    display: flex;
    @include for-phone {
      flex-direction: column;
    }
    justify-content: space-between;

    .city {
      width: 48%;
      @include for-phone {
        width: 100%;
      }
    }
    .state {
      width: 48%;
      @include for-phone {
        width: 100%;
      }
    }
  }
  .country-code {
    display: flex;
    @include for-phone {
      flex-direction: column;
    }
    justify-content: space-between;

    .country {
      width: 48%;
      @include for-phone {
        width: 100%;
      }
    }
    .code {
      width: 48%;
      @include for-phone {
        width: 100%;
      }
    }
  }
  .none {
    display: none;
  }
  .invalid {
    // display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
  .phone-helper {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: blue;
  }
}
